<div class="container">
    <h2>Projects Portifolio</h2>
    <ul>
        @for(item of arrayProjects(); track item){
        <li>
            <a (click)="navigateToGamePage()">
            <button>
                <p>Dice Game With JavaScript </p>
                <img
                [src]="item.src"
                [alt]="item.alt"
                loading="lazy"
                [attr.width]="item.width"
                [attr.height]="item.height"
                />
            </button>
            </a>
        </li>
    }
    </ul>
</div>
