:root{
    --primary: #2f8fbf;
    --primary-010: #216a80;
    --secondary: #06208a;
    --secondary-010: #06064e;
    --white: white;
    --black: #000000;
    --black-010: #2a2a30;
    --grey: #9b9ba0
}