<header>
    <img
    src="./assets/img/marcio.jpg"
    alt="Marcio Filho - Photo"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Marcio Filho</h1>
</header>
<aside>
    <div class="container">
        <p>Marcio is a Data Scientist and Developer with more than 5 years experience in the field and beyond-work studies/projects. Analytical and mathematical profile, capable of developing data-science products and of turning data into actionable insights for organizations. He has solid experience with creating data pipelines using Python and Spark, on AWS EMR and AWS SageMaker. He's also using Spark and Pandas to do exploratory data analysis, both combined with Scikit Learn to create machine learning models applied to classification and forecasting.</p> 
        <p>Besides, he has experience with web development, web applications and believes in the power of strong and diverse teams inspired and united by a purpose to achieve amazing things together.</p>
        <p class="p2">São Paulo, SP, Brazil.</p>
        
    <nav>
        <ul>
            <li>
                <a href="./assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                    Download CV
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/marcio-l-filho/" target="_blank" class="btn btn-primary">
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/marcio-l-filho/" target="_blank" class="btn btn-primary">
                    Blog
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img
            src="./assets/icons/whatsapp.svg"
            alt="Whatsapp Icon for contact"
            width="22px"
            height="24px"
            />
            <figcaption>
                <a href="https://www.linkedin.com/in/marcio-l-filho/"
                target="_blank">
                <strong>Send a message to me:</strong>
                <p>Whatsapp: +55 (11) 97158-4254</p>
                </a>
            </figcaption>
        </figure>
        <figure>
            <img
            src="./assets/icons/mail.svg"
            alt="Mail Icon for contact" 
            width="22px"
            height="24px"
            />
            <figcaption>
                <a href="mailto:marcio.ll.f7@gmail.com"
                target="_blank">
                <strong>Send a message to me:</strong>
                <p>marcio.ll.f7&#64;gmail.com</p>
                </a>
            </figcaption>
        </figure>
    </section>
    </div>
</aside>